$navbar-default-bg: #000  ;
@import "bootstrap-sprockets";
@import "bootstrap";


.listing {
  list-style: none;
  padding-left: 0px;
}

#logo {
  float: left;
  font-size: 1.8em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: italic;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align : center;
  text-color: #fff;

}

.jumbotron {
  background-image: asset-url('rails.jpg');
  background-size: cover;
  height: 550px;

}


.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.article-actions{
  border-top:1px solid #cfcfcf;
  padding-top: 5px;
}

.description {
  margin-top: 0px;
}

.time {
  border-top: 1px solid #000;
  margin-top: 10px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #cfcfcf;
  color: #777;
}

.footer a:hover {
  color: #222;

}

.footer small {
  float: left;
}

.footer ul {
  float:right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;

}